:root {
	--clr-primary: #0366ee;
	--clr-accent-100: #00fa9a;
	--clr-accent-900: #ff0000;

	--clr-neutral-100: #fff;
	--clr-neutral-900: #222c2a;
}

/* BASE*/
ul {
	list-style: none;
	display: flex;
	flex-direction: column;
	padding: 0;
}

li {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 0 0.3em 0;
	position: relative;
	padding-left: 0.8em;
	border-radius: 3px;
}

li::before {
	content: '';
	position: absolute;
	width: 5px;
	height: 100%;
	border-radius: 3px 0 0 3px;
	background: var(--clr-primary);
	opacity: 0.8;
	left: 0;
}

li input {
	border: none;
}

button {
	margin: 0;
}

/* UTILITIES:*/
.success {
	background: var(--clr-accent-100);
}

.error {
	background: var(--clr-accent-900);
}

/* COMPONENTS:*/
/* -buttons */
.button {
	max-width: 150px;
	margin: auto;
}

/* -error messages */
.success,
.error {
	color: var(--clr-neutral-100);
	padding: 0.6em 1em;
	margin: 5px 0 15px 0;
	border-radius: 4px;
	position: relative;
}

.alert {
	position: absolute;
	top: -4.5em;
	right: 0;
	min-width: 50%;
}

/*LAYOUTS*/
/* containers*/
.small-container {
	display: flex;
	flex-direction: column;
}

.alert-container {
	position: relative;
}
